@font-face {
  font-family: "National2";
  src: url("../fonts/National2/National2-Light.eot");
  src: url("../fonts/National2/National2-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/National2/National2-Light.woff") format("woff"), url("../fonts/National2/National2-Light.ttf") format("truetype"), url("../fonts/National2/National2-Light.svg#National2") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "National2-Regular";
  src: url("../fonts/National2/National2-Regular.eot");
  src: url("../fonts/National2/National2-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/National2/National2-Regular.woff") format("woff"), url("../fonts/National2/National2-Regular.ttf") format("truetype"), url("../fonts/National2/National2-Regular.svg#National2-Regular") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "National2-Bold";
  src: url("../fonts/National2/National2-Bold.eot");
  src: url("../fonts/National2/National2-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/National2/National2-Bold.woff") format("woff"), url("../fonts/National2/National2-Bold.ttf") format("truetype"), url("../fonts/National2/National2-Bold.svg#National2-Bold") format("svg");
  font-weight: normal;
}
@media screen {
  .slideshow-block,
.slideshow-with-audio {
    position: relative;
    width: 100%;
    max-width: calc(100vw - 2rem);
    height: 80vh;
    min-height: 56.25vw;
    margin-bottom: 60px;
  }
  .slideshow-with-audio {
    display: flex;
    flex-direction: column;
  }
  .slideshow,
.slick-list,
.slick-track {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }
  .slideshow {
    background: transparent;
  }
  .slideshow .slick-slide > div {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }
  .slideshow .item {
    display: grid !important;
    grid-template-rows: 1fr fit-content(100%);
    justify-content: stretch;
    height: 100%;
  }
  .slideshow .item figure {
    overflow: hidden;
    margin: 0;
  }
  .slideshow .item.introduction > figure {
    background-color: #00693e;
  }
  .slideshow .item.introduction > figure img {
    position: relative;
    display: block;
    mix-blend-mode: multiply;
    filter: grayscale(100%);
    background-color: transparent;
  }
  .slideshow .item.introduction > figure img:hover {
    filter: grayscale(0%);
  }
  .slideshow .item .slideshow-image-wrapper {
    height: 100%;
  }
  .slideshow .item img {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
  }
  .slideshow .item img.img-portrait {
    object-fit: contain;
  }
  .slideshow .item.slide-fit-cover img {
    object-fit: cover;
  }
  .slideshow .item.slide-fit-contain img {
    width: unset;
    height: 100%;
    object-fit: contain;
  }
  .slideshow .item.slide-position-top-center img {
    object-position: top center;
  }
  .slideshow .item.slide-position-center-center img {
    object-position: center center;
  }
  .slideshow .item.slide-position-bottom-center img {
    object-position: bottom center;
  }
  .slideshow .item.slide-position-top-left img {
    margin-left: 0;
    object-position: top left;
  }
  .slideshow .item.slide-position-center-left img {
    margin-left: 0;
    object-position: center left;
  }
  .slideshow .item.slide-position-bottom-left img {
    margin-left: 0;
    object-position: bottom left;
  }
  .slideshow .item.slide-position-top-right img {
    margin-right: 0;
    object-position: top right;
  }
  .slideshow .item.slide-position-center-right img {
    margin-right: 0;
    object-position: center right;
  }
  .slideshow .item.slide-position-bottom-right img {
    margin-right: 0;
    object-position: bottom right;
  }
  .slideshow.slick-slider.fullscreen-enabled .item {
    grid-template-rows: 100%;
    grid-template-columns: fit-content(100%) 1fr;
    grid-column-gap: 2rem;
  }
  .slideshow.slick-slider.fullscreen-enabled h3,
.slideshow.slick-slider.fullscreen-enabled p {
    color: #fff;
  }
  .slideshow.slick-slider.fullscreen-enabled .slick-prev,
.slideshow.slick-slider.fullscreen-enabled .slick-next {
    bottom: 0;
  }
  .slideshow.slick-slider.fullscreen-enabled .slick-prev:after, .slideshow.slick-slider.fullscreen-enabled .slick-prev:before,
.slideshow.slick-slider.fullscreen-enabled .slick-next:after,
.slideshow.slick-slider.fullscreen-enabled .slick-next:before {
    color: #fff;
  }
  .slideshow.slick-slider.fullscreen-enabled .slick-prev {
    right: 5.075rem;
    left: unset;
  }
  .slideshow.slick-slider.fullscreen-enabled .slick-next {
    right: 1rem;
    left: unset;
  }
  .slideshow.slick-slider.fullscreen-enabled .slick-autoplay-toggle-button {
    right: 2.75rem;
    bottom: 11px;
    left: unset;
    color: #fff;
  }
  .fullscreen-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
  }
  .fullscreen-label {
    text-align: left;
    font-size: 0.8rem;
    line-height: normal;
  }
  .slide-fullscreen-openBtn {
    justify-content: left;
    width: auto;
    min-width: 10rem;
    color: #fff;
    border: 0;
    border-radius: 0;
    background: url(../../asset/img/svg/icons/fullscreen_white_icon.svg) no-repeat 90%;
    background-size: 20px;
  }
  .slide-fullscreen-openBtn:hover {
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 0;
    background: url(../../asset/img/svg/icons/fullscreen_white_icon.svg) no-repeat 90%;
    background-color: #333;
    background-size: 20px;
  }
  .slide-fullscreen-closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    min-width: auto;
    height: 30px;
    margin: 10px;
    padding: 0;
    color: #fff;
    border: 2px solid #000;
    border-radius: 100px;
    background: #000;
  }
  .slide-fullscreen-closeBtn:hover {
    color: #fff;
    border: 2px solid #000;
    background: #333;
  }
  .slideshow-block,
.slideshow-with-audio {
    position: relative;
  }
  .slideshow-block .slideshow,
.slideshow-with-audio .slideshow {
    border-top: 6px solid #fff;
  }
  .slideshow-block .slick-slider.slick-dotted {
    margin-bottom: 30px;
  }
  .slideshow-block .slick-prev,
.slideshow-block .slick-next {
    position: absolute;
    z-index: 100;
    top: unset;
    bottom: -46px;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    cursor: pointer;
  }
  .slideshow-block .slick-prev::before, .slideshow-block .slick-prev::after,
.slideshow-block .slick-next::before,
.slideshow-block .slick-next::after {
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .slideshow-block .slick-prev:hover:before, .slideshow-block .slick-prev:hover:after,
.slideshow-block .slick-next:hover:before,
.slideshow-block .slick-next:hover:after {
    color: #666;
  }
  .slideshow-block .slick-prev:focus,
.slideshow-block .slick-next:focus {
    top: unset !important;
  }
  .slideshow-block .slick-prev {
    left: 0;
  }
  .slideshow-block .slick-prev:before {
    content: "\f0a8";
  }
  .slideshow-block .slick-next {
    left: 4.075rem;
  }
  .slideshow-block .slick-next:after {
    right: 0;
    left: unset;
    content: "\f0a9";
  }
  .slideshow-block .slick-dots {
    position: absolute;
    z-index: 100;
    top: initial;
    right: 0;
    bottom: -37px;
    text-align: right;
  }
  .slideshow-block .slick-autoplay-toggle-button {
    z-index: 1000;
    bottom: -35px;
    left: 1.8rem;
    width: auto;
    min-width: auto;
    opacity: 1;
    color: #000;
    border-radius: 4px;
    background-color: transparent;
  }
  .slideshow-block .slick-autoplay-toggle-button:hover, .slideshow-block .slick-autoplay-toggle-button:active, .slideshow-block .slick-autoplay-toggle-button:focus {
    color: #666;
    border: none;
    background-color: transparent;
  }
  .slideshow-block .slick-autoplay-toggle-button.left:after {
    background: #00693e;
  }
  .slideshow-block .slick-autoplay-toggle-button .slick-pause-icon::before {
    content: "\f28b";
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
  }
  .slideshow-block .slick-autoplay-toggle-button .slick-play-icon::before {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .slideshow-block {
    margin-bottom: 90px;
  }
  .slideshow-block .slick-dots {
    position: relative;
    text-align: left;
  }
}
@media screen {
  * {
    box-sizing: border-box;
  }
}
@media screen {
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
@media screen {
  body {
    margin: 0;
    word-wrap: break-word;
    background-color: #fff;
    font-family: "National2", verdana, sans-serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}
@media screen {
  a:link {
    text-decoration: none;
    color: #328060;
  }
}
@media screen {
  a:visited {
    color: #328060;
  }
}
@media screen {
  a:active,
a:hover {
    color: #003c73;
  }
}
@media screen {
  h1 {
    font-size: 2.1875rem;
    line-height: 3.28125rem;
  }
}
@media screen {
  h2 {
    font-size: 1.5625rem;
    line-height: normal;
  }
}
@media screen {
  h3 {
    font-size: 1.40625rem;
  }
}
@media screen {
  h4 {
    font-size: 1.375rem;
  }
}
@media screen {
  img {
    max-width: 100%;
    height: auto;
  }
}
@media screen {
  select {
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    height: 2.9em;
    margin: 0 0 0 1.1em;
    padding: 0.3em 2em 0.2em 0.6em;
    color: #595959;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.3;
    -webkit-appearance: none;
    appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  select:hover {
    outline: solid 3px #b3d9ff !important;
  }
  select:focus {
    outline: solid 3px #ffa00f !important;
  }
  select option {
    font-weight: normal;
  }
}
@media screen {
  #skipnav {
    position: fixed;
    z-index: -5;
    top: 1.875rem;
    left: 50%;
    padding: 0.46875rem;
    transform: translateX(-50%);
    opacity: 0;
    border: 1px solid #ababab;
    background-color: #fff;
  }
  #skipnav:focus {
    z-index: 1000;
    opacity: 1;
  }
}
@media screen {
  .page-wrapper {
    position: relative;
    min-height: 100vh;
  }
}
@media screen {
  .site-title h1 {
    margin: 0;
    padding-right: 1.875rem;
    font-size: 1.5625rem;
    line-height: normal;
  }
}
@media screen {
  header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    min-height: 4rem;
    margin: 0 0 1.875rem 0;
    padding: 0 calc(5% + 0.25rem);
    background-color: #00693e;
  }
  header > * {
    max-width: 1450px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    padding: 0;
  }
}
@media screen {
  .site-title:hover,
.site-title:active {
    border-bottom: 0;
  }
}
@media screen {
  header h1 {
    grid-column: 1;
    width: 90%;
    margin: 0 0 0.46875rem 0;
    padding: 0.8rem 0;
    line-height: 2.1rem;
  }
  header h1 a,
header h1 a:active,
header h1 a:hover,
header h1 a:focus,
header h1 a:link,
header h1 a:visited {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
  }
  header a,
header a:active,
header a:hover,
header a:focus,
header a:link,
header a:visited {
    color: #fff;
  }
  header img {
    max-height: 4rem;
  }
  header .language-switcher-wrapper {
    display: grid;
    grid-row: 1;
    grid-column: 2;
  }
  header .language-switcher-wrapper label {
    padding-left: 1rem;
    color: #fff;
    font-size: 0.8rem;
  }
  header .language-switcher-wrapper select {
    padding: 0 2rem 0 1rem;
  }
}
@media screen {
  .harmful-content-wrapper {
    margin-top: -1.875rem;
    margin-bottom: 1.875rem;
    padding: 0.25rem;
    text-align: center;
    color: #ffa00f;
    background-color: #000;
  }
  .harmful-content-wrapper a,
.harmful-content-wrapper a:link,
.harmful-content-wrapper a:active,
.harmful-content-wrapper a:visited {
    text-decoration: underline;
    text-underline-offset: 2px;
    opacity: 1;
    color: #ffa00f;
  }
  .harmful-content-wrapper a:hover {
    color: #000;
    background-color: #fff;
  }
}
@media screen {
  .harmful-content-inline {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
    color: #fff;
    border-left: 1rem solid #ffa00f;
    background-color: #333;
  }
  .harmful-content-inline a,
.harmful-content-inline a:link,
.harmful-content-inline a:active,
.harmful-content-inline a:visited {
    text-decoration: underline;
    text-underline-offset: 2px;
    opacity: 1;
    color: #fff;
  }
  .harmful-content-inline a:hover {
    color: #000;
    background-color: #fff;
  }
}
@media screen {
  footer {
    clear: both;
    width: 100%;
    padding: 1rem 0;
    background-color: #333;
  }
  footer > * {
    max-width: 1450px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
  footer a,
footer a:active,
footer a:focus,
footer a:hover,
footer a:link,
footer a:visited {
    color: #fff;
  }
  footer a:focus,
footer a:hover {
    text-decoration: underline;
  }
}
@media screen {
  #content.used-for-site-promo .blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 3rem;
    font-size: 1rem;
  }
}
@media screen {
  #content.not-used-for-site-promo .site-promo-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-image {
    grid-row: 1/span 2;
    grid-column: 1;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-image figure img {
    width: 250px;
    height: 250px;
    object-position: center center;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-harmful-content-flag {
    grid-row: 1/span 2;
    align-self: auto;
  }
  #content.not-used-for-site-promo .site-promo-container h2 {
    grid-row: 1;
    grid-column: 2;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-content {
    grid-row: 2;
    grid-column: 2;
  }
}
@media screen {
  #content {
    max-width: 1450px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    padding-bottom: 8rem;
    color: #333;
    font-size: 1.0625rem;
    line-height: normal;
  }
  #content h2 {
    margin-top: 0;
  }
  #content .site-promo-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
  }
  #content .site-promo-container h2 {
    grid-row: 2;
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
  #content .site-promo-container a,
#content .site-promo-container a:link,
#content .site-promo-container a:visited,
#content .site-promo-container a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    opacity: 1;
    color: #00693e;
  }
  #content .site-promo-harmful-content-flag {
    z-index: 2;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
  }
  #content .site-promo-harmful-content-flag p {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    color: #ffa00f;
    background-color: #000;
    font-weight: bold;
  }
  #content .site-promo-image {
    grid-row: 1;
    grid-column: 1;
    border: none;
  }
  #content .site-promo-image figure {
    margin: 0;
  }
  #content .site-promo-image figure img {
    width: 100%;
    height: 250px;
    margin-top: 0;
    object-fit: cover;
    object-position: left 40%;
  }
  #content .site-promo-image figure figcaption p {
    display: none;
    margin: 0;
    font-size: 0.875rem;
    font-style: italic;
    line-height: normal;
  }
  #content .site-promo-content {
    grid-row: 3;
    grid-column: 1;
  }
  #content .site-promo-content p {
    margin: 0.25rem 0 1rem 0;
  }
  #content p {
    max-width: 1200px;
  }
  #content .blocks .left.file,
#content .blocks .right.file {
    border: none;
  }
  #content .blocks .left.file .item,
#content .blocks .right.file .item {
    padding: 0;
  }
  #content .item-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    text-align: left;
  }
  #content .item-showcase .resource.item {
    padding: 0 0 2rem 0;
  }
  #content .item-showcase .resource.item:not(:only-child) {
    width: 100%;
  }
  #content .item-showcase .resource.item:not(:only-child) img {
    max-height: 10rem;
  }
  #content .item-showcase .resource.item h3 {
    margin-bottom: 0.5rem;
    line-height: normal;
  }
  #content .item-showcase .resource.item .caption {
    font-size: 1rem;
    line-height: normal;
  }
  #content .item-showcase .resource.item img {
    max-height: 10rem;
  }
  #content .tobii-zoom__icon {
    top: 0;
    right: 0;
    display: flex;
    border: 1px solid #fff;
  }
  .slick-slide #content .tobii-zoom__icon {
    top: 0;
  }
  .display-type-gallery #content .tobii-zoom__icon {
    top: 0;
  }
  #content .alternate-html-block .switch-alternate-html {
    max-width: 1200px;
  }
}
@media screen {
  .tobii .tobii__slide figure > img {
    max-width: calc(100% - 10em);
    max-height: calc(100% - 4em);
    margin: 0 auto;
  }
}
@media screen {
  .item.resource.show h3 {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.1rem;
  }
  .item.resource.show .media-embeds {
    float: right;
    width: 33%;
    padding-left: 3rem;
  }
  .item.resource.show .media-embeds.slick-slider {
    width: calc(33% - 3rem);
    margin-bottom: 2rem;
    margin-left: 3rem;
    padding: 0;
  }
  .item.resource.show .media-embeds.slick-slider img {
    display: block;
    margin: 0 auto;
  }
  .item.resource.show .media-embeds.slick-slider .slick-dots {
    position: relative;
    bottom: initial;
  }
  .item.resource.show .media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    margin-top: 2rem;
  }
  .item.resource.show .media-list .resource-link {
    display: grid;
    flex: 0 0 calc(33.333333% - 1rem);
    grid-template-rows: 1fr auto;
  }
  .item.resource.show .values,
.item.resource.show .value {
    margin-left: 1rem;
  }
  .item.resource.show .values .value,
.item.resource.show .value .value {
    margin-left: 0;
  }
}
@media screen {
  ul.resource-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    column-gap: 2rem;
    list-style: none;
  }
  ul.resource-list li {
    margin-bottom: 4rem;
  }
  ul.resource-list h3 {
    margin: 0.5rem 0;
  }
  ul.resource-list img {
    max-height: 10rem;
  }
}
@media screen {
  .metadata h3 {
    margin: 0 0 0.25rem 0;
  }
  .metadata .values,
.metadata .value {
    margin-left: 1rem;
  }
  .metadata .values .value,
.metadata .value .value {
    margin-left: 0;
  }
}
@media screen {
  .browse-controls {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 990px) {
  #content.used-for-site-promo .blocks {
    grid-template-columns: 1fr 1fr;
  }
  #content .item-showcase {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  header h1 {
    font-size: 1.5rem;
    line-height: normal;
  }
  header select {
    font-size: 0.7rem;
  }
  #content h2 {
    font-size: 1rem;
  }
  #content .item-showcase {
    grid-template-columns: 1fr 1fr;
  }
  ul.resource-list {
    grid-template-columns: 1fr 1fr;
  }
  .item.resource.show .media-list .resource-link {
    flex-basis: calc(50% - 1rem);
  }
}
@media screen and (max-width: 575px) {
  header h1 {
    font-size: 1.1rem;
    line-height: normal;
  }
  header h1 img {
    max-height: 2.5rem;
  }
  .blocks .right.assets,
.blocks .right.file,
.blocks .left.assets,
.blocks .left.file {
    max-width: 50%;
  }
  #content.used-for-site-promo .blocks {
    grid-template-columns: 1fr;
  }
  #content.used-for-site-promo h2 {
    font-size: 1rem;
  }
  #content.not-used-for-site-promo .site-promo-container {
    grid-template-columns: 1fr;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-image {
    grid-row: 1;
  }
  #content.not-used-for-site-promo .site-promo-container h2 {
    grid-row: 2;
    grid-column: 1;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-content {
    grid-row: 3;
    grid-column: 1;
  }
  #content .item-showcase {
    grid-template-columns: 1fr;
  }
  .item.resource.show .media-embeds {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .item.resource.show .media-embeds.slick-slider {
    width: calc(100% - 3rem);
    margin-right: auto;
    margin-left: auto;
  }
  ul.resource-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 450px) {
  .item.resource.show .media-list .resource-link {
    flex-basis: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
