@font-face {
  font-family: "National2";
  src: url("../fonts/National2/National2-Light.eot");
  src: url("../fonts/National2/National2-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/National2/National2-Light.woff") format("woff"), url("../fonts/National2/National2-Light.ttf") format("truetype"), url("../fonts/National2/National2-Light.svg#National2") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "National2-Regular";
  src: url("../fonts/National2/National2-Regular.eot");
  src: url("../fonts/National2/National2-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/National2/National2-Regular.woff") format("woff"), url("../fonts/National2/National2-Regular.ttf") format("truetype"), url("../fonts/National2/National2-Regular.svg#National2-Regular") format("svg");
  font-weight: normal;
}
@font-face {
  font-family: "National2-Bold";
  src: url("../fonts/National2/National2-Bold.eot");
  src: url("../fonts/National2/National2-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/National2/National2-Bold.woff") format("woff"), url("../fonts/National2/National2-Bold.ttf") format("truetype"), url("../fonts/National2/National2-Bold.svg#National2-Bold") format("svg");
  font-weight: normal;
}
h1,
.h1 {
  margin: 12px 0 18px 0;
  letter-spacing: -1px;
  text-transform: none;
  font-family: verdana, geneva, sans-serif;
  font-weight: bold;
  line-height: 100%;
}
.font-family-sans-serif-loaded h1,
.font-family-sans-serif-loaded .h1 {
  font-family: "National2Web", verdana, geneva, sans-serif;
}

h2,
h3,
h4,
h5,
.h2,
.h3,
.h4,
.h5 {
  max-width: 930px;
  font-family: "National2Web", verdana, geneva, sans-serif;
  font-weight: bold;
}
.headings-font-family-others-loaded h2,
.headings-font-family-others-loaded h3,
.headings-font-family-others-loaded h4,
.headings-font-family-others-loaded h5,
.headings-font-family-others-loaded .h2,
.headings-font-family-others-loaded .h3,
.headings-font-family-others-loaded .h4,
.headings-font-family-others-loaded .h5 {
  font-family: "National2Web", verdana, geneva, sans-serif;
}

h1,
.h1 {
  font-size: 58.5px;
}

h2,
.h2 {
  margin: 18px 0 18px 0;
  letter-spacing: -1px;
  font-size: 36px;
  line-height: 100%;
}

h3,
.h3 {
  margin: 18px 0 18px 0;
  font-size: 24px;
  line-height: 115%;
}

h4,
.h4 {
  margin: 18px 0 18px 0;
  margin: 20px 0 15px;
  font-size: 21px;
  line-height: 110%;
}

h5,
.h5 {
  margin: 18px 0 14.4px 0;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 150%;
}

body {
  color: #000;
  font-family: verdana, geneva, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.font-family-sans-serif-loaded body {
  font-family: "National2Web", verdana, geneva, sans-serif;
}
body strong {
  font-weight: bold;
}
body p,
body ul {
  max-width: 930px;
}
body blockquote {
  position: relative;
  margin: 20px 0;
  color: #ababab;
  font-family: "Times New Roman", georgia, garamond, serif;
  font-size: 22.5px;
}
.font-family-serif-loaded body blockquote {
  font-family: "DartmouthRuzicka", "Times New Roman", georgia, garamond, serif;
}
body .main-container p.large-emphasized-text {
  margin: 3rem 0;
  font-family: "Times New Roman", georgia, garamond, serif;
  font-size: em(30px);
  font-weight: bold;
}
.font-family-serif-loaded body .main-container p.large-emphasized-text {
  font-family: "DartmouthRuzicka", "Times New Roman", georgia, garamond, serif;
}
body .main-container p.dcl-highlight {
  color: #333 !important;
  background-color: #a5d75f !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 125%;
  }
  h2 {
    font-size: 24px;
    line-height: 125%;
  }
  h3 {
    font-size: 21px;
    line-height: 115%;
  }
  h4 {
    font-size: 18px;
    line-height: 125%;
  }
  h5 {
    font-size: 14px;
    line-height: 150%;
  }
  body {
    font-size: 17px;
  }
  body .region-content,
body .region-home-feature-primary-second,
body .region-home-feature-primary-third,
body .region-home-feature-secondary-first,
body .region-home-feature-secondary-second {
    color: #000;
    font-size: em(17px);
  }
}
@media screen {
  .slideshow-block,
.slideshow-with-audio {
    position: relative;
    width: 100%;
    max-width: calc(100vw - 2rem);
    height: 80vh;
    min-height: 56.25vw;
    margin-bottom: 60px;
  }
  .slideshow-with-audio {
    display: flex;
    flex-direction: column;
  }
  .slideshow,
.slick-list,
.slick-track {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }
  .slick-next .slick-next-icon,
.slick-next .slick-prev-icon,
.slick-prev .slick-next-icon,
.slick-prev .slick-prev-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #a5d75f;
  }
  .slick-next .slick-next-icon::before,
.slick-next .slick-prev-icon::before,
.slick-prev .slick-next-icon::before,
.slick-prev .slick-prev-icon::before {
    content: "\ef7d";
    color: #000;
    font-family: "Material Symbols Outlined";
  }
  .slick-next .slick-next-icon::before {
    content: "\e941";
  }
  .slick-dots li button:focus .slick-dot-icon::before {
    color: #12312b;
  }
  .slick-dots li.slick-active button .slick-dot-icon {
    color: #a5d75f;
  }
  .media-embeds .slideshow,
.media-embeds .slick-list,
.media-embeds .slick-track {
    width: unset;
    height: unset;
    padding-bottom: unset;
  }
  .slideshow {
    background: transparent;
  }
  .slideshow .slick-slide > div {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }
  .slideshow .item {
    display: grid !important;
    grid-template-rows: 1fr fit-content(100%);
    justify-content: stretch;
    height: 100%;
  }
  .slideshow .item figure {
    overflow: hidden;
    margin: 0;
  }
  .slideshow .item.introduction > figure {
    background-color: #00693e;
  }
  .slideshow .item.introduction > figure img {
    position: relative;
    display: block;
    mix-blend-mode: multiply;
    filter: grayscale(100%);
    background-color: transparent;
  }
  .slideshow .item.introduction > figure img:hover {
    filter: grayscale(0%);
  }
  .slideshow .item .slideshow-image-wrapper {
    height: 100%;
    background-color: #333;
  }
  .slideshow .item img {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
  }
  .slideshow .item img.img-portrait {
    object-fit: contain;
  }
  .slideshow .item.slide-fit-cover img {
    object-fit: cover;
  }
  .slideshow .item.slide-fit-contain img {
    width: unset;
    height: 100%;
    object-fit: contain;
  }
  .slideshow .item.slide-position-top-center img {
    object-position: top center;
  }
  .slideshow .item.slide-position-center-center img {
    object-position: center center;
  }
  .slideshow .item.slide-position-bottom-center img {
    object-position: bottom center;
  }
  .slideshow .item.slide-position-top-left img {
    margin-left: 0;
    object-position: top left;
  }
  .slideshow .item.slide-position-center-left img {
    margin-left: 0;
    object-position: center left;
  }
  .slideshow .item.slide-position-bottom-left img {
    margin-left: 0;
    object-position: bottom left;
  }
  .slideshow .item.slide-position-top-right img {
    margin-right: 0;
    object-position: top right;
  }
  .slideshow .item.slide-position-center-right img {
    margin-right: 0;
    object-position: center right;
  }
  .slideshow .item.slide-position-bottom-right img {
    margin-right: 0;
    object-position: bottom right;
  }
  .slideshow.slick-slider.fullscreen-enabled {
    border: none;
  }
  .slideshow.slick-slider.fullscreen-enabled .item {
    display: inline-block !important;
    grid-template-rows: 100%;
  }
  .slideshow.slick-slider.fullscreen-enabled .item figure {
    height: 100%;
  }
  .slideshow.slick-slider.fullscreen-enabled .slide-contents {
    display: none;
  }
  .slideshow.slick-slider.fullscreen-enabled h3,
.slideshow.slick-slider.fullscreen-enabled p {
    color: #fff;
  }
  .slideshow.slick-slider.fullscreen-enabled img {
    width: unset !important;
    height: 100% !important;
    margin: 0 auto !important;
    transform: none !important;
    transform-origin: unset !important;
    object-fit: unset !important;
    object-position: unset !important;
  }
  .slideshow.slick-slider.fullscreen-enabled .slick-prev,
.slideshow.slick-slider.fullscreen-enabled .slick-next {
    bottom: 0;
  }
  .slideshow.slick-slider.fullscreen-enabled .slick-prev:before, .slideshow.slick-slider.fullscreen-enabled .slick-prev:after,
.slideshow.slick-slider.fullscreen-enabled .slick-next:before,
.slideshow.slick-slider.fullscreen-enabled .slick-next:after {
    border-radius: 50%;
    background-color: #fff;
  }
  .slideshow.slick-slider.fullscreen-enabled .slick-autoplay-toggle-button {
    bottom: 5px;
  }
  .slideshow.slick-slider.fullscreen-enabled .slick-autoplay-toggle-button .slick-pause-icon:before,
.slideshow.slick-slider.fullscreen-enabled .slick-autoplay-toggle-button .slick-play-icon:before {
    border-radius: 50%;
    background-color: #fff;
  }
  .fullscreen-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
  }
  .fullscreen-label {
    display: inline-block;
    margin-left: 9px;
    text-align: left;
    font-size: 14.4px;
    line-height: normal;
  }
  .slide-fullscreen-openBtn {
    display: grid;
    justify-content: left;
    width: auto;
    min-width: 180px;
    color: #fff;
    border: 0;
    border-radius: 0;
    background: url(../../asset/img/svg/icons/fullscreen_white_icon.svg) no-repeat 90%;
    background-size: 20px;
  }
  .slide-fullscreen-openBtn:hover {
    cursor: pointer;
    color: #fff;
    border: 0;
    border-radius: 0;
    background: url(../../asset/img/svg/icons/fullscreen_white_icon.svg) no-repeat 90%;
    background-color: #333;
    background-size: 20px;
  }
  .slide-fullscreen-closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    min-width: auto;
    height: 30px;
    margin: 10px;
    padding: 0;
    color: #fff;
    border: 2px solid #000;
    border-radius: 100px;
    background: #000;
  }
  .slide-fullscreen-closeBtn:hover {
    color: #fff;
    border: 2px solid #000;
    background: #333;
  }
  .slideshow-block,
.slideshow-with-audio {
    position: relative;
  }
  .slideshow-block .slideshow,
.slideshow-with-audio .slideshow {
    border-top: 6px solid #fff;
  }
  .slideshow-block .slick-slider.slick-dotted,
.section-intro-splash .slick-slider.slick-dotted {
    margin-bottom: 30px;
  }
  .slideshow-block .slick-prev,
.slideshow-block .slick-next,
.section-intro-splash .slick-prev,
.section-intro-splash .slick-next {
    position: absolute;
    z-index: 1000;
    top: unset;
    bottom: -46px;
    width: 27px;
    height: 27px;
    margin: 0;
    cursor: pointer;
  }
  .slideshow-block .slick-prev::before, .slideshow-block .slick-prev::after,
.slideshow-block .slick-next::before,
.slideshow-block .slick-next::after,
.section-intro-splash .slick-prev::before,
.section-intro-splash .slick-prev::after,
.section-intro-splash .slick-next::before,
.section-intro-splash .slick-next::after {
    position: absolute;
    top: 0;
    left: 0;
    color: #a5d75f;
    font-family: "Font Awesome 5 Free";
    font-size: 27px;
    font-weight: bold;
    line-height: 27px;
  }
  .slideshow-block .slick-prev:hover:before, .slideshow-block .slick-prev:hover:after,
.slideshow-block .slick-next:hover:before,
.slideshow-block .slick-next:hover:after,
.section-intro-splash .slick-prev:hover:before,
.section-intro-splash .slick-prev:hover:after,
.section-intro-splash .slick-next:hover:before,
.section-intro-splash .slick-next:hover:after {
    color: #a5d75f;
  }
  .slideshow-block .slick-prev:focus,
.slideshow-block .slick-next:focus,
.section-intro-splash .slick-prev:focus,
.section-intro-splash .slick-next:focus {
    top: unset !important;
  }
  .slideshow-block .slick-prev .slick-next-icon,
.slideshow-block .slick-prev .slick-prev-icon,
.slideshow-block .slick-next .slick-next-icon,
.slideshow-block .slick-next .slick-prev-icon,
.section-intro-splash .slick-prev .slick-next-icon,
.section-intro-splash .slick-prev .slick-prev-icon,
.section-intro-splash .slick-next .slick-next-icon,
.section-intro-splash .slick-next .slick-prev-icon {
    color: #a5d75f;
  }
  .slideshow-block .slick-prev,
.section-intro-splash .slick-prev {
    left: 0;
  }
  .slideshow-block .slick-prev:before,
.section-intro-splash .slick-prev:before {
    content: "\f0a8";
  }
  .slideshow-block .slick-next,
.section-intro-splash .slick-next {
    left: 72px;
  }
  .slideshow-block .slick-next:after,
.section-intro-splash .slick-next:after {
    right: 0;
    left: unset;
    content: "\f0a9";
  }
  .slideshow-block .slick-dots,
.section-intro-splash .slick-dots {
    position: absolute;
    z-index: 100;
    top: initial;
    right: 0;
    bottom: -37px;
    text-align: right;
  }
  .slideshow-block .slick-autoplay-toggle-button,
.section-intro-splash .slick-autoplay-toggle-button {
    z-index: 1000;
    bottom: -37px;
    left: 32.4px;
    width: auto;
    min-width: auto;
    opacity: 1;
    color: #000;
    border-radius: 4px;
    background-color: transparent;
  }
  .slideshow-block .slick-autoplay-toggle-button:hover, .slideshow-block .slick-autoplay-toggle-button:active, .slideshow-block .slick-autoplay-toggle-button:focus,
.section-intro-splash .slick-autoplay-toggle-button:hover,
.section-intro-splash .slick-autoplay-toggle-button:active,
.section-intro-splash .slick-autoplay-toggle-button:focus {
    color: #666;
    border: none;
    background-color: transparent;
  }
  .slideshow-block .slick-autoplay-toggle-button.left:after,
.section-intro-splash .slick-autoplay-toggle-button.left:after {
    background: #00693e;
  }
  .slideshow-block .slick-autoplay-toggle-button .slick-pause-icon::before,
.section-intro-splash .slick-autoplay-toggle-button .slick-pause-icon::before {
    content: "\f28b";
    font-family: "Font Awesome 5 Free";
    font-size: 27px;
    font-weight: bold;
  }
  .slideshow-block .slick-autoplay-toggle-button .slick-play-icon::before,
.section-intro-splash .slick-autoplay-toggle-button .slick-play-icon::before {
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-size: 27px;
    font-weight: bold;
  }
}
@media screen and (max-width: 450px) {
  .slideshow-block {
    margin-bottom: 90px;
  }
  .slideshow-block .slick-dots {
    position: relative;
    text-align: left;
  }
}
@media screen {
  * {
    box-sizing: border-box;
  }
}
@media screen {
  html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
@media screen {
  body {
    margin: 0;
    word-wrap: break-word;
    background-color: #fff;
    font-family: "National2Web", verdana, geneva, sans-serif;
    font-size: 18px;
    line-height: 18px;
  }
}
@media screen {
  a {
    text-underline-offset: 3px;
  }
}
@media screen {
  a:link {
    text-decoration: none;
    color: #00693e;
  }
}
@media screen {
  a:visited {
    color: #00693e;
  }
}
@media screen {
  a:active,
a:hover {
    color: #00693e;
  }
}
@media screen {
  img {
    max-width: 100%;
    height: auto;
  }
}
@media screen {
  blockquote,
blockquote * {
    display: flex;
    max-width: 767px;
    padding: 0;
    color: #666;
    border: none !important;
    font-family: "DartmouthRuzicka", "Times New Roman", georgia, garamond, serif !important;
    font-style: normal !important;
  }
}
@media screen {
  select {
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    height: 2.9em;
    margin: 0 0 0 1.1em;
    padding: 0.3em 2em 0.2em 0.6em;
    color: #595959;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #fff 0%, #fff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.3;
    appearance: none;
  }
  select::-ms-expand {
    display: none;
  }
  select:hover {
    outline: solid 3px #b3d9ff !important;
  }
  select:focus {
    outline: solid 3px #ffa00f !important;
  }
  select option {
    font-weight: normal;
  }
}
@media screen {
  #skipnav {
    position: fixed;
    z-index: -5;
    top: 18px;
    left: 50%;
    padding: 4.5px;
    transform: translateX(-50%);
    opacity: 0;
    border: 1px solid #ababab;
    background-color: #fff;
  }
  #skipnav:focus {
    z-index: 1000;
    opacity: 1;
  }
}
@media screen {
  .page-wrapper {
    position: relative;
    min-height: 100vh;
  }
}
@media screen {
  .site-title h1 {
    margin: 0;
    padding-right: 18px;
    font-size: 22.5px;
    line-height: normal;
  }
}
@media screen {
  header {
    margin: 0 0 18px 0;
    padding: 9px calc(5% + 0.25rem);
    background-color: #00693e;
  }
  header > div {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 18px;
    align-items: center;
    min-height: 4rem;
  }
  header > * {
    max-width: 1450px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    padding: 0;
  }
}
@media screen {
  .site-title:hover,
.site-title:active {
    border-bottom: 0;
  }
  .site-title:hover span,
.site-title:active span {
    -webkit-text-decoration: underline solid #a5d75f 1.5px;
    text-decoration: underline solid #a5d75f 1.5px;
  }
}
@media screen {
  header h1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-column: 1;
    grid-column-gap: 1.5rem;
    align-items: center;
    width: 90%;
    margin: 0 0 4.5px 0;
    padding: 0.8rem 0;
    line-height: 2.1rem;
  }
  header h1 a,
header h1 a:active,
header h1 a:hover,
header h1 a:focus,
header h1 a:link,
header h1 a:visited {
    display: inline-block;
    text-decoration: none;
    opacity: 1;
  }
  header h1 a span,
header h1 a:active span,
header h1 a:hover span,
header h1 a:focus span,
header h1 a:link span,
header h1 a:visited span {
    display: inline-block;
    margin-top: 8px;
    padding: 6px 0 6px 18px;
    -webkit-text-decoration: underline solid transparent 1.5px;
    text-decoration: underline solid transparent 1.5px;
    text-underline-offset: 4px;
    letter-spacing: normal;
    border-bottom: none;
    border-left: 1px solid #fff;
    font-size: 14.4px;
  }
  header a,
header a:active,
header a:hover,
header a:focus,
header a:link,
header a:visited {
    color: #fff;
  }
  header img {
    width: 120px;
  }
  header .language-switcher-wrapper {
    display: grid;
    grid-row: 1;
    grid-column: 2;
  }
  header .language-switcher-wrapper label {
    color: #fff;
    font-size: 12.6px;
  }
  header .language-switcher-wrapper select {
    margin-bottom: 9px;
    margin-left: 0;
    padding: 0 9px 0 9px;
    font-size: 14.4px;
  }
  header .all-exhibits-link {
    border: 1.5px solid transparent;
    font-size: 14.4px;
    font-weight: bold;
  }
  header .all-exhibits-link:hover {
    border-bottom: 1.5px solid #a5d75f;
  }
}
@media screen {
  .breadcrumbs {
    margin-bottom: 18px;
    font-size: 14.4px;
    font-weight: bold;
  }
  .breadcrumbs a {
    font-weight: normal;
  }
}
@media screen {
  .harmful-content-wrapper {
    margin-top: -18px;
    margin-bottom: 18px;
    padding: 9px;
    text-align: center;
    color: #000;
    background-color: #a5d75f;
    font-size: 14.4px;
    font-weight: bold;
  }
  .harmful-content-wrapper a,
.harmful-content-wrapper a:link,
.harmful-content-wrapper a:active,
.harmful-content-wrapper a:visited {
    -webkit-text-decoration: underline solid 1px;
    text-decoration: underline solid 1px;
    text-underline-offset: 2px;
    opacity: 1;
    color: #000;
  }
  .harmful-content-wrapper a:hover, .harmful-content-wrapper a:focus,
.harmful-content-wrapper a:link:hover,
.harmful-content-wrapper a:link:focus,
.harmful-content-wrapper a:active:hover,
.harmful-content-wrapper a:active:focus,
.harmful-content-wrapper a:visited:hover,
.harmful-content-wrapper a:visited:focus {
    text-decoration-thickness: 1.5px;
  }
  .harmful-content-wrapper .harmful-content-statement {
    display: inline;
  }
  .harmful-content-wrapper .harmful-content-statement::before {
    margin-right: 4px;
    content: "\e002";
    vertical-align: middle;
    font-family: "Material Symbols Outlined";
    font-variation-settings: "FILL" 1;
    font-size: 22.5px;
  }
}
@media screen {
  .harmful-content-inline {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.25rem 1rem;
    color: #fff;
    border-left: 1rem solid #ffa00f;
    background-color: #333;
  }
  .harmful-content-inline a,
.harmful-content-inline a:link,
.harmful-content-inline a:active,
.harmful-content-inline a:visited {
    text-decoration: underline;
    text-underline-offset: 2px;
    opacity: 1;
    color: #fff;
  }
  .harmful-content-inline a:hover {
    color: #000;
    background-color: #fff;
  }
}
@media screen {
  #back-to-top-btn {
    position: fixed;
    right: 18px;
    bottom: 18px;
    display: none;
    padding: 4.5px 4.5px 0 4.5px;
    color: #000;
    border: 1px solid #fff;
    border-radius: 9px;
    background-color: #a5d75f;
  }
  #back-to-top-btn:hover {
    color: #fff;
    border-color: #fff;
    background-color: #12312b;
  }
  #back-to-top-btn svg {
    width: 27px;
  }
}
@media screen {
  footer {
    clear: both;
    width: 100%;
    padding: 18px 0;
    background-color: #12312b;
  }
  footer > * {
    max-width: 1450px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
  footer a,
footer a:active,
footer a:focus,
footer a:hover,
footer a:link,
footer a:visited {
    color: #fff;
  }
  footer a:focus,
footer a:hover {
    opacity: 1;
    color: #fff;
    border-bottom: 1.5px solid #a5d75f;
  }
}
@media screen {
  .site-page-pagination {
    display: grid;
    grid-template-columns: 33% 33%;
    gap: 9px;
  }
  .site-page-pagination .site-pagination-next,
.site-page-pagination .site-pagination-prev {
    display: grid;
    gap: 9px;
    text-align: left;
    white-space: normal;
    color: #fff !important;
    border: none !important;
    border-radius: 0;
    background-color: #00693e;
    font-size: 16.2px;
    font-weight: bold;
  }
  .site-page-pagination .site-pagination-next:hover, .site-page-pagination .site-pagination-next:focus,
.site-page-pagination .site-pagination-prev:hover,
.site-page-pagination .site-pagination-prev:focus {
    border: none !important;
    background-color: #12312b;
  }
  .site-page-pagination .site-pagination-next::after,
.site-page-pagination .site-pagination-prev::before {
    vertical-align: middle;
    font-family: "Material Symbols Outlined";
    font-size: 27px;
    font-variation-settings: "FILL" 1;
    line-height: 23px;
  }
  .site-page-pagination .site-pagination-next {
    grid-template-columns: 1fr fit-content(100%);
  }
  .site-page-pagination .site-pagination-next::after {
    margin-left: 4px;
    content: "\e941";
  }
  .site-page-pagination .site-pagination-prev {
    grid-template-columns: fit-content(100%) 1fr;
  }
  .site-page-pagination .site-pagination-prev::before {
    margin-right: 4px;
    content: "\ef7d";
  }
}
@media screen {
  .standard-dcl-footer {
    display: grid;
    grid-template-rows: fit-content(100%) fit-content(100%);
    color: #fff;
    font-size: 14.4px;
  }
  .standard-dcl-footer h2 {
    margin: 0;
    padding: 10px 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10.8px;
  }
  .standard-dcl-footer .row-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 5rem;
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #fff;
  }
  .standard-dcl-footer .row-1 li {
    margin-bottom: 6px;
  }
  .standard-dcl-footer .row-1 li ul {
    margin-top: 6px;
  }
  .standard-dcl-footer .row-1 #footer-aboutus-collapse .menu {
    column-count: 2;
    column-gap: 2rem;
  }
  .standard-dcl-footer .row-2 {
    text-align: center;
  }
  .standard-dcl-footer .row-2 ul.menu li {
    display: inline;
  }
  .standard-dcl-footer .row-2 ul.menu li:first-of-type {
    display: block;
  }
  .standard-dcl-footer ul {
    padding: 0;
    list-style: none;
  }
  .standard-dcl-footer ul ul.menu {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .standard-dcl-footer h2 {
    margin-bottom: 0;
  }
  .standard-dcl-footer .row-1 {
    grid-template-columns: 100%;
  }
  .standard-dcl-footer .row-1 .region-footer-fourth section {
    padding-left: 0;
    border-left: none;
  }
}
@media screen and (max-width: 450px) {
  .standard-dcl-footer .row-1 #footer-aboutus-collapse .menu {
    column-count: 1;
    column-gap: 0;
  }
}
@media screen {
  .visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border: 0;
  }
  .visually-hidden.sr-only-focusable {
    clip-path: none;
  }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    position: static !important;
    z-index: 1000;
    overflow: visible;
    clip: auto;
    clip-path: unset;
    width: auto;
    height: auto;
    margin: 5px;
    outline: solid 3px #ffa00f !important;
    outline-offset: 2px !important;
  }
}
@media screen {
  nav.sub-menu {
    margin: 18px 0;
  }
  nav.sub-menu ul.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    max-width: 1191px;
    padding-left: 0;
    list-style: none;
  }
  nav.sub-menu ul.navigation li {
    margin-bottom: 4px;
    line-height: normal;
  }
  nav.sub-menu ul.navigation li a {
    display: grid;
    grid-template-columns: 1fr fit-content(100%);
    gap: 9px;
    padding: 4.5px 9px;
    text-decoration: none;
    color: #fff !important;
    border-bottom: none !important;
    background-color: #00693e;
    font-size: 16.2px;
    font-weight: bold;
  }
  nav.sub-menu ul.navigation li a::after {
    content: "\e941";
    font-family: "Material Symbols Outlined";
    font-variation-settings: "FILL" 1;
  }
  nav.sub-menu ul.navigation li a:hover {
    color: #fff !important;
    outline: none;
    background-color: #12312b;
  }
  nav.sub-menu ul.navigation li a:focus {
    color: #fff !important;
    background-color: #12312b;
  }
}
@media screen {
  #content.used-for-site-promo .blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 3rem;
  }
}
@media screen {
  #content.not-used-for-site-promo .site-promo-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-image {
    grid-row: 1/span 2;
    grid-column: 1;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-image figure img {
    width: 250px;
    height: 250px;
    object-position: center center;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-harmful-content-flag {
    grid-row: 1/span 2;
    align-self: auto;
  }
  #content.not-used-for-site-promo .site-promo-container h2 {
    grid-row: 1;
    grid-column: 2;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-content {
    grid-row: 2;
    grid-column: 2;
  }
}
@media screen {
  #content {
    max-width: 1450px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    padding-bottom: 8rem;
    color: #000;
    line-height: 27px;
  }
  #content h2 {
    margin-top: 0;
  }
  #content h3 {
    line-height: normal;
  }
  #content .blocks .file {
    border: none;
  }
  #content .blocks .random-items {
    border: none;
  }
  #content p span {
    font-family: "National2Web", verdana, geneva, sans-serif;
    font-size: 18px;
    line-height: normal;
  }
  #content a,
#content a:link,
#content a:visited,
#content a:hover {
    text-decoration: none;
    opacity: 1;
    color: #00693e;
    border-bottom: 1.5px solid #00693e;
  }
  #content a:hover {
    border-bottom: 1.5px solid #a5d75f;
  }
  #content .media-render {
    border: none;
  }
  #content .media-render a,
#content .media-render a:link,
#content .media-render a:visited,
#content .media-render a:hover {
    border: none;
  }
  #content .site-promo-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
  }
  #content .site-promo-container h2 {
    grid-row: 2;
    margin: 0.5rem 0;
    font-size: 18px;
    line-height: normal;
  }
  #content .site-promo-harmful-content-flag {
    z-index: 2;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
  }
  #content .site-promo-harmful-content-flag p {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    color: #000;
    background-color: #a5d75f;
    font-size: 14.4px;
    font-weight: bold;
  }
  #content .site-promo-harmful-content-flag p::before {
    margin-right: 4px;
    content: "\e002";
    vertical-align: middle;
    font-family: "Material Symbols Outlined";
    font-variation-settings: "FILL" 1;
    font-size: 22.5px;
  }
  #content .site-promo-image {
    grid-row: 1;
    grid-column: 1;
    border: none;
  }
  #content .site-promo-image figure {
    margin: 0;
  }
  #content .site-promo-image figure img {
    width: 100%;
    height: 250px;
    margin-top: 0;
    object-fit: cover;
    object-position: center 40%;
  }
  #content .site-promo-image figure figcaption p {
    display: none;
    margin: 0;
    font-family: "National2Web", verdana, geneva, sans-serif;
    line-height: normal;
  }
  #content .site-promo-content {
    grid-row: 3;
    grid-column: 1;
  }
  #content .site-promo-content p {
    margin: 0.25rem 0 1rem 0;
  }
  #content p {
    max-width: 1200px;
  }
  #content .blocks .left.file,
#content .blocks .right.file {
    border: none;
  }
  #content .blocks .left.file .item,
#content .blocks .right.file .item {
    padding: 0;
  }
  #content .left.file,
#content .left.assets {
    margin: 0 18px 18px 0;
  }
  #content .item-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 36px;
    text-align: left;
  }
  #content .item-showcase .resource.item {
    padding: 0 0 36px 0;
  }
  #content .item-showcase .resource.item:not(:only-child) {
    width: 100%;
  }
  #content .item-showcase .resource.item:not(:only-child) img {
    max-height: 180px;
  }
  #content .item-showcase .resource.item h3 {
    margin-bottom: 9px;
    font-size: 18px;
    line-height: normal;
  }
  #content .item-showcase .resource.item .caption {
    font-family: "DartmouthRuzicka", "Times New Roman", georgia, garamond, serif;
    font-size: 18px;
    line-height: normal;
  }
  #content .item-showcase .resource.item > a {
    display: inline-block;
  }
  #content .item-showcase .resource.item > a img {
    margin-bottom: -1.5px;
  }
  #content .item-showcase .resource.item img {
    max-height: 180px;
  }
  #content .tobii-zoom__icon {
    top: 0;
    right: 0;
    display: flex;
    color: #000;
    background-color: #a5d75f;
  }
  .slick-slide #content .tobii-zoom__icon {
    top: 0;
  }
  .display-type-gallery #content .tobii-zoom__icon {
    top: 0;
  }
  #content .alternate-html-block .switch-alternate-html {
    max-width: 1200px;
  }
  #content #linked-resources table {
    width: 100%;
    margin: 27px 0;
    text-align: left;
  }
  #content #linked-resources table caption {
    margin-left: 4px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
  }
  #content #linked-resources table th:nth-of-type(2),
#content #linked-resources table td:nth-of-type(2) {
    display: none;
  }
  #content #linked-resources table .resource-link {
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%);
    grid-gap: 18px;
  }
  #content #linked-resources table .resource-link img {
    max-height: 200px;
  }
  #content #linked-resources table .resource-link .resource-name {
    align-self: center;
  }
}
@media screen {
  #content .random-items {
    grid-template-columns: 100%;
  }
  #content .random-items .item.resource {
    width: 100%;
    max-width: 100%;
  }
  #content .random-items .random-items-button {
    grid-row: 2;
    grid-column: 2;
  }
  #content .random-items .random-items-button.grid-top {
    grid-row: 1;
    grid-column: 1/2;
    background-image: none;
  }
  #content .random-items .random-items-button button {
    width: 100%;
    padding: 9px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #00693e;
    font-size: 18px;
  }
  #content .random-items .random-items-button button:hover {
    color: #fff;
    background-color: #12312b;
  }
  #content .random-items .random-items-button button::before {
    margin-right: 4px;
    content: "\f854";
    vertical-align: top;
    font-family: "Material Symbols Outlined";
    font-size: 27px;
    font-variation-settings: "FILL" 1;
  }
  #content .random-items .item.resource .random-item {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    column-gap: 54px;
  }
  #content .random-items .item.resource .random-item h2,
#content .random-items .item.resource .random-item h3,
#content .random-items .item.resource .random-item h4,
#content .random-items .item.resource .random-item h5 {
    grid-row: 1;
    grid-column: 2;
    font-family: "Special Elite", "Lora", georgia, serif;
  }
  #content .random-items .item.resource .random-item .random-item-image {
    grid-row: 1/-1;
    grid-column: 1;
    justify-self: center;
  }
  #content .random-items .item.resource .random-item .random-item-description {
    grid-row: 2;
    grid-column: 2;
  }
  #content .random-items .item.resource .random-item img {
    min-height: 360px;
    max-height: calc(100vh - 13rem - 80px);
    object-fit: contain;
  }
}
@media screen and (max-width: 990px) {
  #content .item-showcase.random-items {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 767px) {
  #content .random-items {
    grid-template-columns: 100%;
  }
  #content .random-items .random-items-button {
    grid-row: 4;
    grid-column: 1;
  }
  #content .random-items .item.resource .random-item {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 100%;
    align-items: start;
  }
  #content .random-items .item.resource .random-item h2,
#content .random-items .item.resource .random-item h3,
#content .random-items .item.resource .random-item h4,
#content .random-items .item.resource .random-item h5 {
    grid-row: 1;
    grid-column: 1;
  }
  #content .random-items .item.resource .random-item .random-item-image {
    grid-row: 2;
    grid-column: 1;
  }
  #content .random-items .item.resource .random-item .random-item-description {
    grid-row: 3;
    grid-column: 1;
  }
}
@media screen {
  .lds-ring {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    margin: 8px;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 8px solid #a5d75f;
    border-color: #a5d75f transparent transparent transparent;
    border-radius: 50%;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
}
@media screen {
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
@media screen {
  .lds-ellipsis {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    border-radius: 50%;
    background: #a5d75f;
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
}
@media screen {
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
@media screen {
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}
@media screen {
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
@media screen {
  .tobii .tobii__slide figure > img {
    max-width: calc(100% - 10em);
    max-height: calc(100% - 4em);
    margin: 0 auto;
  }
}
@media screen {
  .item.resource .media-render.file {
    margin-top: 0;
  }
  .item.resource .description {
    margin-top: 9px;
  }
  .item.resource a.resource-link span.resource-name {
    display: block;
    -webkit-text-decoration: underline solid #00693e 1.5px;
    text-decoration: underline solid #00693e 1.5px;
    text-underline-offset: 3px;
  }
  .item.resource a.resource-link:hover span.resource-name, .item.resource a.resource-link:focus span.resource-name {
    -webkit-text-decoration-color: #a5d75f;
    text-decoration-color: #a5d75f;
  }
  .item.resource .caption {
    margin-top: 6px;
    font-family: "DartmouthRuzicka", "Times New Roman", georgia, garamond, serif;
    font-size: 16.2px;
    line-height: normal;
  }
  .item.resource.show h3 {
    margin: 1rem 0 0.5rem 0;
  }
  .item.resource.show .media-embeds {
    float: right;
    width: 33%;
    padding-left: 3rem;
  }
  .item.resource.show .media-embeds.slick-slider {
    width: calc(33% - 3rem);
    margin-bottom: 2rem;
    margin-left: 3rem;
    padding: 0;
  }
  .item.resource.show .media-embeds.slick-slider img {
    display: block;
    margin: 0 auto;
  }
  .item.resource.show .media-embeds.slick-slider .slick-dots {
    position: relative;
    bottom: initial;
  }
  .item.resource.show .media-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    margin-top: 2rem;
  }
  .item.resource.show .media-list .resource-link {
    display: grid;
    flex: 0 0 calc(33.333333% - 1rem);
    grid-template-rows: 1fr auto;
    border: none !important;
  }
  .item.resource.show .values,
.item.resource.show .value {
    margin-left: 1rem;
  }
  .item.resource.show .values .value,
.item.resource.show .value .value {
    margin-left: 0;
  }
}
@media screen {
  .property dt {
    margin: 1.25rem 0 0.25rem 0;
    font-weight: 700;
  }
}
@media screen {
  ul.resource-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    padding: 0;
    column-gap: 36px;
    list-style: none;
  }
  ul.resource-list li {
    margin-bottom: 4rem;
  }
  ul.resource-list h3 {
    margin: 0.5rem 0;
  }
  ul.resource-list img {
    max-height: 10rem;
  }
}
@media screen {
  .metadata h3 {
    margin: 0 0 0.25rem 0;
  }
  .metadata .values,
.metadata .value {
    margin-left: 1rem;
  }
  .metadata .values .value,
.metadata .value .value {
    margin-left: 0;
  }
}
@media screen {
  .browse-controls {
    margin: 1rem 0;
  }
}
@media screen {
  li#sharing-email a::before,
li#sharing-embed a::before {
    margin-right: 4px;
    vertical-align: middle;
    font-family: "Material Symbols Outlined";
    font-variation-settings: "FILL" 1;
  }
}
@media screen {
  li#sharing-email a {
    color: #fff !important;
    background-color: #00693e !important;
  }
  li#sharing-email a:hover, li#sharing-email a:focus {
    background-color: #12312b !important;
  }
  li#sharing-email a::before {
    content: "\e158";
  }
}
@media screen {
  li#sharing-embed a {
    color: #000;
    border: none !important;
    background-color: #a5d75f;
  }
  li#sharing-embed a:hover, li#sharing-embed a:focus {
    color: #fff;
    background-color: #12312b;
  }
  li#sharing-embed a::before {
    content: "\e80d";
  }
}
@media screen and (max-width: 990px) {
  #content.used-for-site-promo .blocks {
    grid-template-columns: 1fr 1fr;
  }
  #content .item-showcase {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 767px) {
  header select {
    font-size: 0.7rem;
  }
  #content .item-showcase {
    grid-template-columns: 1fr 1fr;
  }
  ul.resource-list {
    grid-template-columns: 1fr 1fr;
  }
  .item.resource.show .media-list .resource-link {
    flex-basis: calc(50% - 1rem);
  }
  .site-page-pagination {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 575px) {
  header > div {
    grid-template-columns: 1fr;
    gap: 0;
  }
  header .language-switcher-wrapper {
    grid-row: 2;
    grid-column: 1;
  }
  header .all-exhibits-link {
    margin-bottom: 6px;
    text-align: right;
    font-size: 10.8px;
  }
  nav.sub-menu ul.navigation li {
    width: 100%;
  }
  .blocks .right.assets,
.blocks .right.file,
.blocks .left.assets,
.blocks .left.file {
    max-width: 50%;
  }
  #content.used-for-site-promo .blocks {
    grid-template-columns: 1fr;
  }
  #content.used-for-site-promo h2 {
    font-size: 1rem;
  }
  #content.not-used-for-site-promo .site-promo-container {
    grid-template-columns: 1fr;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-image {
    grid-row: 1;
  }
  #content.not-used-for-site-promo .site-promo-container h2 {
    grid-row: 2;
    grid-column: 1;
  }
  #content.not-used-for-site-promo .site-promo-container .site-promo-content {
    grid-row: 3;
    grid-column: 1;
  }
  #content .item-showcase {
    grid-template-columns: 1fr;
  }
  .item.resource.show .media-embeds {
    float: none;
    width: 100%;
    padding-left: 0;
  }
  .item.resource.show .media-embeds.slick-slider {
    width: calc(100% - 3rem);
    margin-right: auto;
    margin-left: auto;
  }
  ul.resource-list {
    grid-template-columns: 1fr;
  }
  .site-page-pagination {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 450px) {
  .item.resource.show .media-list .resource-link {
    flex-basis: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
