* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  word-wrap: break-word;
  background-color: $bg;
  font-family: $font-family-sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a:link {
  text-decoration: none;
  color: $link;
}

a:visited {
  color: $link;
}

a:active,
a:hover {
  color: $link;
}

h1 {
  font-size: 1.75 * $base-font-size;
  line-height: 1.75 * $base-line-height;
}

h2 {
  font-size: 1.25 * $base-font-size;
  line-height: normal;
}

h3 {
  font-size: 1.125 * $base-font-size;
}

h4 {
  font-size: 1.1 * $base-font-size;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  // see https://www.filamentgroup.com/lab/select-css.html
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  height: 2.9em;
  margin: 0 0 0 1.1em;
  padding: 0.3em 2em 0.2em 0.6em;
  color: lighten($gray-dark, 15%);
  border: 1px solid $gray-medium-dark;
  border-radius: 4px;
  background-color: $white;
  background-image:
    url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, $white 0%, $white 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.3;

  // box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
  }
  &:hover {
    outline: solid 3px $blue-light !important;
  }
  &:focus {
    outline: solid 3px $yellow !important;
  }
  option {
    font-weight: normal;
  }
}

// @group ----- Navigation -----

#skipnav {
  position: fixed;
  z-index: -5;
  top: $spacing-l;
  left: 50%;
  padding: $spacing-s;
  transform: translateX(-50%);
  opacity: 0;
  border: 1px solid $gray;
  background-color: #fff;

  &:focus {
    z-index: 1000;
    opacity: 1;
  }
}

// @end

// @group ----- Page Wrapper
.page-wrapper {
  position: relative;
  min-height: 100vh;
}

// @group ----- Header -----

.site-title h1 {
  margin: 0;
  padding-right: $base-line-height;
  font-size: 1.25 * $base-font-size;
  line-height: normal;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  min-height: 4rem;
  margin: 0 0 $spacing-l 0;
  padding: 0 calc(5% + 0.25rem);
  background-color: $dart_green;

  > * {
    @include container;

    display: block;
    width: 100%;
    padding: 0;
  }
}

.site-title:hover,
.site-title:active {
  border-bottom: 0;
  span {
    text-decoration: underline solid $spring-green 1.5px;
  }
}

header {
  h1 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    grid-column: 1;
    grid-column-gap: 1.5rem;
    align-items: center;
    width: 90%;
    margin: 0 0 $spacing-s 0;
    padding: 0.8rem 0;
    line-height: 2.1rem;
    a,
    a:active,
    a:hover,
    a:focus,
    a:link,
    a:visited {
      text-decoration: none;
      opacity: 1;
      span {
        display: block;
        margin-top: 8px;
        padding: 6px 0 6px 9px;
        text-decoration: underline solid transparent 1.5px;
        text-underline-offset: 4px;
        letter-spacing: normal;
        border-bottom: none;
        border-left: 1px solid $white;
        font-size: $base-font-size * 0.8;
      }
    }
  }
  a,
  a:active,
  a:hover,
  a:focus,
  a:link,
  a:visited {
    color: $white;
  }
  img {
    width: 120px;
  }
  .language-switcher-wrapper {
    display: grid;
    grid-row: 1;
    grid-column: 2;
    label {
      color: $white;
      font-size: $base-font-size * 0.7;
    }
    select {
      margin-bottom: 9px;
      margin-left: 0;
      padding: 0 9px 0 9px;
      font-size: $base-font-size * 0.8;
    }
  }
  .all-exhibits-link {
    border: 1.5px solid transparent;
    font-size: $base-font-size * 0.8;
    font-weight: bold;
    &:hover {
      border-bottom: 1.5px solid $spring-green;
    }
  }
}

// @end

.breadcrumbs {
  margin-bottom: $base-font-size;
  font-size: $base-font-size * 0.8;
  font-weight: bold;
  a {
    font-weight: normal;
  }
}

// harmful content

.harmful-content-wrapper {
  margin-top: -1 * $spacing-l;
  margin-bottom: $spacing-l;
  padding: $base-font-size * 0.5;
  text-align: center;
  color: $black;
  background-color: $spring-green;
  font-size: $base-font-size * 0.8;
  a,
  a:link,
  a:active,
  a:visited {
    text-decoration: underline;
    text-underline-offset: 2px;
    opacity: 1;
    color: $black;
  }
}

.harmful-content-inline {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.25rem 1rem;
  color: $white;
  border-left: 1rem solid $warning;
  background-color: $gray-dark;
  a,
  a:link,
  a:active,
  a:visited {
    text-decoration: underline;
    text-underline-offset: 2px;
    opacity: 1;
    color: $white;
  }
  a:hover {
    color: $black;
    background-color: $white;
  }
}

// back to top
#back-to-top-btn {
  position: fixed;
  right: $base-font-size;
  bottom: $base-font-size;
  display: none;
  padding: $base-font-size * 0.25 $base-font-size * 0.25 0 $base-font-size * 0.25;
  color: $black;
  border: 1px solid $white;
  border-radius: $base-font-size * 0.5;
  background-color: $spring-green;
  &:hover {
    color: $white;
    border-color: $white;
    background-color: $forest-green;
  }
  svg {
    width: $base-font-size * 1.5;
  }
}

// @group ----- Footer -----

footer {
  clear: both;
  width: 100%;
  padding: $base-font-size 0;
  background-color: $forest-green;
  > * {
    @include container;

    width: 90%;
  }
  a,
  a:active,
  a:focus,
  a:hover,
  a:link,
  a:visited {
    color: $white;
  }

  a:focus,
  a:hover {
    opacity: 1;
    color: $white;
    border-bottom: 1.5px solid $spring-green;
  }
}

.site-page-pagination {
  .site-pagination-next,
  .site-pagination-prev {
    color: $white !important;
    border: none !important;
    border-radius: 18px;
    background-color: $dart-green;
    font-weight: bold;
    &:hover,
    &:focus {
      border: none !important;
      background-color: $forest-green;
    }
  }
  .site-pagination-next::after,
  .site-pagination-prev::before {
    vertical-align: middle;
    font-family: $font-primary-icons;
    font-variation-settings: "FILL" 1;
  }
  .site-pagination-next::after {
    margin-left: 4px;
    content: "\e941";
  }
  .site-pagination-prev::before {
    margin-right: 4px;
    content: "\ef7d";
  }
}

// standard dcl footer
.standard-dcl-footer {
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%);
  color: $white;
  font-size: $base-font-size * 0.8;
  h2 {
    margin: 0;
    padding: 10px 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    font-size: $base-font-size * 0.6;
  }
  .row-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 5rem;
    margin-bottom: $base-font-size;
    padding-bottom: $base-font-size;
    border-bottom: 1px solid $white;
    li {
      margin-bottom: 6px;
      ul {
        margin-top: 6px;
      }
    }
    #footer-aboutus-collapse .menu {
      column-count: 2;
      column-gap: 2rem;
    }
  }
  .row-2 {
    text-align: center;
    ul.menu {
      li {
        display: inline;
        &:first-of-type {
          display: block;
        }
      }
    }
  }
  ul {
    padding: 0;
    list-style: none;
    ul.menu {
      padding-left: 1rem;
    }
  }
}

@media (max-width: 767px) {
  .standard-dcl-footer {
    h2 {
      margin-bottom: 0;
    }
    .row-1 {
      grid-template-columns: 100%;
      .region-footer-fourth section {
        padding-left: 0;
        border-left: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .standard-dcl-footer {
    .row-1 {
      #footer-aboutus-collapse .menu {
        column-count: 1;
        column-gap: 0;
      }
    }
  }
}

// @end

// visually hidden
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: 0;
  &.sr-only-focusable {
    clip-path: none;
  }
  &.focusable:active,
  &.focusable:focus {
    position: static !important;
    z-index: 1000;
    overflow: visible;
    clip: auto;
    clip-path: unset;
    width: auto;
    height: auto;
    margin: 5px;
    outline: solid 3px $yellow !important;
    outline-offset: 2px !important;
  }
}

// @group ----- Page and Blocks -----

#content.used-for-site-promo .blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 4rem;
  grid-column-gap: 3rem;
}

#content.not-used-for-site-promo {
  .site-promo-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 2rem;
    .site-promo-image {
      grid-row: 1 / span 2;
      grid-column: 1;
      figure {
        img {
          width: 250px;
          height: 250px;
          object-position: center center;
        }
      }
    }
    .site-promo-harmful-content-flag {
      grid-row: 1 / span 2;
      align-self: auto;
    }
    h2 {
      grid-row: 1;
      grid-column: 2;
    }
    .site-promo-content {
      grid-row: 2;
      grid-column: 2;
    }
  }
}

#content {
  @include container;

  width: 90%;
  padding-bottom: 8rem;
  color: $black;
  line-height: $base-font-size * 1.5;
  h2 {
    margin-top: 0;
  }
  h3 {
    line-height: normal;
  }
  a,
  a:link,
  a:visited,
  a:hover {
    text-decoration: none;
    opacity: 1;
    color: $dart-green;
    border-bottom: 1.5px solid $dart-green;
  }
  a:hover {
    border-bottom: 1.5px solid $spring-green;
  }
  .media-render {
    border: none;
    a,
    a:link,
    a:visited,
    a:hover {
      border: none;
    }
  }
  .site-promo-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    h2 {
      grid-row: 2;
      margin: 0.5rem 0;
      font-size: $base-font-size;
      line-height: normal;
    }
  }
  .site-promo-harmful-content-flag {
    z-index: 2;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    p {
      margin: 0;
      padding: 0.5rem;
      text-align: center;
      color: $black;
      background-color: $spring-green;
      font-size: $base-font-size * 0.8;
      font-weight: bold;
    }
  }
  .site-promo-image {
    grid-row: 1;
    grid-column: 1;
    border: none;
    figure {
      margin: 0;
      img {
        width: 100%;
        height: 250px;
        margin-top: 0;
        object-fit: cover;
        object-position: left 40%;
      }
      figcaption p {
        display: none;
        margin: 0;
        font-family: $font-family-sans-serif;
        line-height: normal;
      }
    }
  }
  .site-promo-content {
    grid-row: 3;
    grid-column: 1;
    p {
      margin: 0.25rem 0 1rem 0;
    }
  }
  p {
    max-width: $max-paragraph-width;
  }
  .blocks {
    .left,
    .right {
      &.file {
        border: none;
        .item {
          padding: 0;
        }
      }
    }
  }
  .left.file,
  .left.assets {
    margin: 0 $base-font-size $base-font-size 0;
  }
  .item-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: $base-font-size * 2;
    text-align: left;
    .resource.item {
      padding: 0 0 $base-font-size * 2 0;
      &:not(:only-child) {
        width: 100%;
        img {
          max-height: $base-font-size * 10;
        }
      }
      h3 {
        margin-bottom: $base-font-size * 0.5;
        font-size: $base-font-size;
        line-height: normal;
      }
      .caption {
        font-family: $font-family-serif;
        font-size: $base-font-size;
        line-height: normal;
      }
      > a {
        display: inline-block;
        img {
          margin-bottom: -1.5px;
        }
      }
      img {
        max-height: $base-font-size * 10;
      }
    }
  }
  .tobii-zoom__icon {
    top: 0;
    right: 0;
    display: flex;
    color: $black;
    background-color: $spring-green;
    .slick-slide & {
      top: 0;
    }
    .display-type-gallery & {
      top: 0;
    }
  }
  .alternate-html-block .switch-alternate-html {
    max-width: $max-paragraph-width;
  }

  #linked-resources {
    table {
      width: 100%;
      margin: 27px 0;
      text-align: left;
      caption {
        margin-left: 4px;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
      }
      th,
      td {
        &:nth-of-type(2) {
          display: none;
        }
      }
      .resource-link {
        display: grid;
        grid-template-columns: fit-content(100%) fit-content(100%);
        grid-gap: 18px;
        img {
          max-height: 200px;
        }
        .resource-name {
          align-self: center;
        }
      }
    }
  }
}
.tobii .tobii__slide figure > img {
  max-width: calc(100% - 10em);
  max-height: calc(100% - 4em);
  margin: 0 auto;
}

.item.resource {
  .media-render.file {
    margin-top: 0;
  }
  &.show {
    h3 {
      margin: 1rem 0 0.5rem 0;
    }
    .media-embeds {
      float: right;
      width: 33%;
      padding-left: 3rem;
      &.slick-slider {
        width: calc(33% - 3rem);
        margin-bottom: 2rem;
        margin-left: 3rem;
        padding: 0;
        img {
          display: block;
          margin: 0 auto;
        }
        .slick-dots {
          position: relative;
          bottom: initial;
        }
      }
    }
    .media-list {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem 1rem;
      margin-top: 2rem;
      .resource-link {
        display: grid;
        flex: 0 0 calc(33.333333% - 1rem);
        grid-template-rows: 1fr auto;
        border: none !important;
      }
    }
    .values,
    .value {
      margin-left: 1rem;
      .value {
        margin-left: 0;
      }
    }
  }
}

.property dt {
  margin: 1.25rem 0 0.25rem 0;
  font-weight: 700;
}

ul.resource-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  column-gap: 2rem;
  list-style: none;
  li {
    margin-bottom: 4rem;
  }
  h3 {
    margin: 0.5rem 0;
  }
  img {
    max-height: 10rem;
  }
}

.metadata {
  h3 {
    margin: 0 0 0.25rem 0;
  }
  .values,
  .value {
    margin-left: 1rem;
    .value {
      margin-left: 0;
    }
  }
}

.browse-controls {
  margin: 1rem 0;
}

// @end

@media (max-width: 990px) {
  #content.used-for-site-promo .blocks {
    grid-template-columns: 1fr 1fr;
  }
  #content .item-showcase {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 767px) {
  header {
    h1 {
      font-size: 1.5rem;
      line-height: normal;
    }
    select {
      font-size: 0.7rem;
    }
  }
  #content {
    h2 {
      font-size: 1rem;
    }
  }
  #content .item-showcase {
    grid-template-columns: 1fr 1fr;
  }
  ul.resource-list {
    grid-template-columns: 1fr 1fr;
  }
  .item.resource {
    &.show {
      .media-list {
        .resource-link {
          flex-basis: calc(50% - 1rem);
        }
      }
    }
  }
}

@media (max-width: 575px) {
  header {
    grid-template-columns: 1fr;
    h1 {
      font-size: 1.1rem;
      line-height: normal;
    }
    .all-exhibits-link {
      margin-bottom: 6px;
      text-align: right;
      font-size: $base-font-size * 0.6;
    }
  }
  .blocks {
    .right.assets,
    .right.file,
    .left.assets,
    .left.file {
      max-width: 50%;
    }
  }
  #content.used-for-site-promo {
    .blocks {
      grid-template-columns: 1fr;
    }
    h2 {
      font-size: 1rem;
    }
  }

  #content.not-used-for-site-promo {
    .site-promo-container {
      grid-template-columns: 1fr;
      .site-promo-image {
        grid-row: 1;
      }
      h2 {
        grid-row: 2;
        grid-column: 1;
      }
      .site-promo-content {
        grid-row: 3;
        grid-column: 1;
      }
    }
  }
  #content .item-showcase {
    grid-template-columns: 1fr;
  }
  .item.resource.show .media-embeds {
    float: none;
    width: 100%;
    padding-left: 0;
    &.slick-slider {
      width: calc(100% - 3rem);
      margin-right: auto;
      margin-left: auto;
    }
  }
  ul.resource-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .item.resource {
    &.show {
      .media-list {
        .resource-link {
          flex-basis: 100%;
        }
      }
    }
  }
}
