* {
    box-sizing: border-box;
}

html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $bg;
    font-family: $sansserif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    word-wrap: break-word;
}

a:link {
    text-decoration: none;
    color: $link;
}

a:visited {
    color: $link;
}

a:active,
a:hover {
    color: $blue;
}

h1 {
    font-size: 1.75 * $base-font-size;
    line-height: 1.75 * $base-line-height;
}

h2 {
    font-size: 1.25 * $base-font-size;
    line-height: normal;
}

h3 {
    font-size: 1.15 * $base-font-size;
    line-height: 1.15 * $base-line-height;
}

h4 {
    font-size: 1.125 * $base-font-size;
}

img {
    max-width: 100%;
    height: auto;
}

/* @group ----- Navigation ----- */

#skipnav {
  position: fixed;
  top: $spacing-l;
  left: 50%;
  border: 1px solid $gray;
  transform: translateX(-50%);
  z-index: -5;
  padding: $spacing-s;
  background-color: #fff;
  opacity: 0;
  
  &:focus {
    z-index: 1000;
    opacity: 1;
  }
}
/* @end */

/* @group ----- Page Wrapper */
.page-wrapper {
  position: relative;
  min-height: 100vh;
}
/* @group ----- Header ----- */

.site-title h1 {
    font-size: 1.25 * $base-font-size;
    line-height: normal;
    padding-right: $base-line-height;
}

header {
    margin: 0 0 2 * $spacing-l 0;
    padding: 0 5%;
    background-color: $dartgreen;
    border-bottom: 1px solid $light;
    position: relative;

    & > * {
        @include container;
        padding: 0;
        display: block;
    }
}

.site-title:hover,
.site-title:active {
    border-bottom: 0;
}

.site-title h1 {
    margin: 0;
}

header h1 {
  width: 90%;
  margin: 0 0 $spacing-s 0;
  padding: 0.8rem 0;
  line-height: 2.1rem;
  a,
  a:active,
  a:hover,
  a:focus,
  a:link,
  a:visited {
    color: $white;
  }
  img {
    float: left;
    max-height: 2.5rem;
    padding-right: 1rem;
  }
}

/* @end */

/* @group ----- Footer ----- */

footer {
    width: 100%;
    padding: 1rem 0;
    clear: both;
    background-color: $gray-dark;
    > * {
      @include container;
      width: 90%;
    }
    a,
    a:active,
    a:focus,
    a:hover,
    a:link,
    a:visited {
      color: $white;
    }
    
    a:focus,
    a:hover {
      text-decoration: underline;
    }
    
}

/* @end */

/* @group ----- Page and Blocks ----- */

#content {
  @include container;
  width: 90%;
  padding-bottom: 8rem;
  line-height: normal;
  color: $gray-dark;
  font-size: 0.9 * $base-font-size;
  .left {
    &.file {
    border: none;
    }
    .item.resource:first-of-type {
      padding: 0;
    }
  }
  .site-promo {
    clear: both;
    padding-top: 2rem;
    &:first-of-type {
      padding-top: 0;
    }
    &:after,
    &:before {
      content: " ";
      display: table;
    }
  }
  h2 {
    margin: 0;
  }
  .site-image {
    float: left;
    margin-right: 1.5rem;
    max-width: 200px;
    border: none;
    figure {
      margin: 0;
      figcaption p {
        margin: 0.5rem 0;
        font-size: 0.8 * $base-font-size;
        line-height: normal;
        font-style: italic;
      }
    }
  }
  p {
    max-width: 1100px;
  }
}

/* @end */

@media (max-width: 767px) {
  #content {
    h2 {
      font-size: 1rem;
    }
    .site-image {
      max-width: 150px;
    }
  }
}

@media (max-width: 575px) {
  header h1 {
    font-size: 1.5rem;
  }
}
